health_check_cron=<%=@healthcheck_cron%>
daily_report_cron=<%=@healthcheck_cron_daily%>
weekly_report_cron=<%=@healthcheck_cron_weekly%>
monthly_report_cron=<%=@healthcheck_cron_monthly%>
env_name=<%=@healthcheck_env%>
to_mail_recepients=<%=@healthcheck_to_mail%>
cc_mail_recepients=<%=@healthcheck_cc_mail%>
admin_mail_id=<%=@healthcheck_admin%>
network_mail_recepients=<%=@healthcheck_network%>
send_mail=<%=@healthcheck_sendmail%>
hc_owners=<%=@healthcheck_hcowners%>