mongo_host=<%=@healthcheck_mongo%>
mongo_port=<%=@healthcheck_mongo_port%>
mongo_user=<%=@healthcheck_mongo_user%>
mongo_pwd=<%=@healthcheck_mongo_pswd%>
mongo_db=<%=@healthcheck_mongo_db%>
jdbc_driverClassName=<%=@healthcheck_jdbc_driver%>
jdbc_url=<%=@healthcheck_jdbc_url%>
jdbc_username=<%=@healthcheck_jdbc_user%>
jdbc_password=<%=@healthcheck_jdbc_pswd%>