@CHARSET "UTF-8";

body {
	display: flex;
	flex-direction: column;
	margin: 0px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

.dashTable {
	border: 2px solid #A2A3AD !important;
	border-collapse: collapse;
	text-align: center;
}

#header {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding-top: 100px;
}

.pointer {
	cursor: pointer;
}

#main-content {
	flex: 1;
	display: flex;
	flex-direction: row;
}

#sidebar {
	width: 20%;
}

#main-container {
	flex: 1;
	display: flex;
	flex-direction: row;
}

#coverage {
	width: 50%;
}

.borderDiv {
	padding: 5px;
	border: 2px solid;
	border-color: #414244;
	border-radius: 5px;
	background-color: #DFDCDC;
}

#summary {
	text-align: center;
	width: 100%;
}

.bttn-padding {
	padding: 20px;
	margin-top: 50px;
}

.compForm {
	padding-left: 0px;
	padding-right: 20px;
}

.boxes {
	height: 20px;
	width: 30px;
	border: 1px solid black;
	display: inline-block;
	margin-left: 10px;
}

div.percentgraph {
	background-color: #83B128;
	border: #808080 0px solid;
	height: 1.3em;
	margin: 0px;
	padding: 0px;
	position: absolute;
}

div.graphcontainer {
	width: 100%;
	height: 100%;
	position: relative;
}

table.pane {
	width: 100%;
	border-collapse: collapse;
	border: 1px #bbb solid;
}

table.percentgraph {
	border: 0px;
	font-size: 100%;
	margin: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	text-align: left;
}

table.percentgraph td.percentgraph {
	border: 0px;
	margin: 0px;
	padding: 0px;
	padding-left: 4px;
}

div.redbar {
	background-color: #CC3300;
	height: 1.3em;
	margin: 0px;
	padding: 0px;
	position: absolute;
}

.tableHdr {
	background-color: #A8D5EC;
}

.group {
	font-size: 20px;
	background-color: #D2D2D8;
}

.compName {
	background-color: #E2E6F3;
	font-size: larger;
}

#cloneTable {
	position: fixed;
    top: 0;
    z-index: 10000;
    display: none;
}